<article class="relative grid gap-y-5 p-5 bg-container-primary rounded-2xl">
  <header class="flex items-center justify-between">
    <app-shared-title [level]="2" variant="heading-2">
      {{ name() }}
    </app-shared-title>

    <app-menu class="z-10" [collection_id]="collection_id()" />
  </header>

  <ul class="grid grid-cols-3 gap-4 h-[80px]">
    <li class="flex bg-container-secondary rounded-lg text-tertiary">
      <p class="flex flex-col items-center m-auto">
        <span class="font-bold text-4xl">{{ errors() || "-" }}</span>
        <span>errors</span>
      </p>
    </li>

    <li class="flex">
      <p class="flex flex-col items-center m-auto">
        <span class="font-bold text-4xl text-primary">{{ urls() || "-" }}</span>
        <span class="text-secondary">urls</span>
      </p>
    </li>

    <li class="flex">
      <p class="flex flex-col items-center m-auto">
        <span class="font-bold text-4xl text-primary">
          {{ last_update().value }}
        </span>

        <span class="text-secondary">{{ last_update().text }}</span>
      </p>
    </li>
  </ul>

  @if (href()) {
    <a class="absolute inset-0" [routerLink]="collection_id()">
      <span class="sr-only">{{ name() }} details</span>
    </a>
  }
</article>
