<app-core-layout>
  <section class="col-span-12 flex flex-col gap-8">
    <app-shared-header header_title="Collections">
      <app-shared-button (clicked)="display_dialog()">
        Create a collection
      </app-shared-button>
    </app-shared-header>

    @if (collections.length) {
      <div class="grid grid-cols-3 gap-4">
        @for (collection of collections; track collection._id) {
          <app-card
            class="col-span-1"
            [collection_id]="collection._id"
            [errors]="collection?.last_report?.total_errors"
            [name]="collection.name"
            [updated_at]="collection?.last_report?.updated_at"
            [urls]="collection?.urls?.length"
          />
        }
      </div>
    }

    <app-modal
      [is_open]="is_dialog_open"
      title="Create a new collection"
      (closed)="close_dialog()"
    >
    </app-modal>
  </section>
</app-core-layout>
