<app-core-layout>
  <section class="col-span-12 flex flex-col gap-8">
    <app-shared-header header_title="Collections">
      <app-shared-button (clicked)="handle_click()">
        Create a collection
      </app-shared-button>
    </app-shared-header>

    @if (formatted_collections_overview()?.length) {
      <div class="grid grid-cols-3 gap-4">
        @for (
          formatted_collection_overview of formatted_collections_overview();
          track formatted_collection_overview.collection_id
        ) {
          <app-card
            class="col-span-1"
            [collection_id]="formatted_collection_overview.collection_id"
            [errors]="formatted_collection_overview.errors"
            [href]="formatted_collection_overview.href"
            [name]="formatted_collection_overview.name"
            [updated_at]="formatted_collection_overview.updated_at"
            [urls]="formatted_collection_overview.urls"
          />
        }
      </div>
    }

    <app-modal
      [is_open]="is_dialog_open()"
      modal_title="Create a new collection"
    >
    </app-modal>
  </section>
</app-core-layout>
